*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;

}
.navbar-logo img {
    height: 24px;
    width: auto;
    display: block;
    padding-right: 20px;
}
.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    margin-right: auto;
    cursor: pointer;
}
.navbar-menu a {
    text-decoration: none;
    color: #555;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.navbar-auth a {
text-decoration: none;
font-size: 14px;
font-weight: 500px;
margin-left: 20px;
cursor: pointer;
}
.navbar-auth .register{
padding: 5px 15px;
border: 1px solid #000;
border-radius: 10px;
}
.body-section{
display: flex;
justify-content: space-between;
align-items: center;
padding: 60px 80px;
max-width: 1200px;
margin: auto;
}
.text-content{
    max-width: 45%;
}
.text-content h1{
    font-size: 80px;
    font-weight: bold;
    color: #000;
    line-height: 1;
}
.text-content .bold-text{
    font-weight: bold;
}
.text-content p{
    font-size: 20px;
    color: #555;
    margin: 20px 0 30px;
    max-width: 85%;
    margin-right: 20px;
}
.learn-more-btn{
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border: 2px;
}
.learn-more-btn:hover{
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
}
.clients{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    max-width: 80%;
}
.clients img{
    height: 30px;
    width: auto;
    opacity: 1;
}
.image-content img{
    width: 100%;
    max-width: 450px;
    height: auto;
    object-fit: cover;
}
.image-content{
    max-width: 30%;
}
body-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 100px;
    max-width: 1400px;
    margin: auto;
    gap: 20px; 
}
